.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 8px;
}

.primary-btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.seconday-btn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.danger-btn {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.cross-btn {
    width: 32px;
    height: 32px;
}


.dark {
    background-color: #333;
    color: white;
}

.light {
    background-color: white;
    color: #333
}