div {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
}

.container {
    display: flex;
}

.one {
    flex-grow: 1;
}

.two {
    flex-grow: 2;
}

.three {
    flex-grow: 4;
    border: none;
}

.four {
    flex-grow: 1;
}