.container {
    display: flex;


    
    /*width: 300px;
    flex-wrap: wrap;*/
}

.item {
    box-sizing: border-box;
    width: 60px;
    padding: 5px;
    border: 1px solid black;
    margin: 10px;
}