.box {
    width: 300px;
    height: 300px;
}


@media (max-width: 668px) {
    .box {
        background-color: blue;
    }
}

@media (min-width: 669px) and (max-width: 992px) {
    .box {
        background-color: hotpink;
    }
}

@media (min-width: 993px) and (max-width: 1312px) {
    .box {
        background-color: green;
    }
}

@media (min-width: 1313px) {
    .box {
        background-color: darkmagenta;
    }
}